/*!
 * 中國遠徵 <yuanzheng@ssss.fun>
 * Link https://i.ssss.fun
 */.ssss-no-border {
	border:none
}
.ssss-border {
	border:1px solid #dee2e6!important
}
.ssss-border-t {
	border-top:1px solid #dee2e6!important
}
.ssss-border-r {
	border-right:1px solid #dee2e6!important
}
.ssss-border-b {
	border-bottom:1px solid #dee2e6!important
}
.ssss-border-l {
	border-left:1px solid #dee2e6!important
}
.ssss-border-0 {
	border:0!important
}
.ssss-border-t-0 {
	border-top:0!important
}
.ssss-border-r-0 {
	border-right:0!important
}
.ssss-border-b-0 {
	border-bottom:0!important
}
.ssss-border-l-0 {
	border-left:0!important
}
.ssss-border-success {
	border-color:#32b643!important
}
.ssss-border-warning {
	border-color:#ffb700!important
}
.ssss-border-error {
	border-color:#e85600!important
}
.ssss-border-dark {
	border-color:#454d5d!important
}
.ssss-border-gray {
	border-color:#f8f9fa!important
}
.ssss-border-white {
	border-color:#fff!important
}
.ssss-text-gray {
	color:#acb3c2
}
a.ssss-text-gray:focus,a.ssss-text-gray:hover {
	color:#9ea6b7
}
a.ssss-text-gray:visited {
	color:#bbc1cd
}
.ssss-text-light {
	color:#fff
}
a.ssss-text-light:focus,a.ssss-text-light:hover {
	color:#f2f2f2
}
a.ssss-text-light:visited {
	color:#fff
}
.ssss-text-dark {
	color:#50596c
}
a.ssss-text-dark:focus,a.ssss-text-dark:hover {
	color:#454d5d
}
a.ssss-text-dark:visited {
	color:#5b657a
}
.ssss-text-success {
	color:#32b643
}
a.ssss-text-success:focus,a.ssss-text-success:hover {
	color:#2da23c
}
a.ssss-text-success:visited {
	color:#39c94b
}
.ssss-text-warning {
	color:#ffb700
}
a.ssss-text-warning:focus,a.ssss-text-warning:hover {
	color:#e6a500
}
a.ssss-text-warning:visited {
	color:#ffbe1a
}
.ssss-text-error {
	color:#e85600
}
a.ssss-text-error:focus,a.ssss-text-error:hover {
	color:#cf4d00
}
a.ssss-text-error:visited {
	color:#ff6003
}
.ssss-bg-dark {
	color:#fff;
	background:#454d5d
}
.ssss-bg-gray {
	background:#f8f9fa
}
.ssss-bg-success {
	color:#fff;
	background:#32b643
}
.ssss-bg-warning {
	color:#fff;
	background:#ffb700
}
.ssss-bg-error {
	color:#fff;
	background:#e85600
}
.ssss-c-hand {
	cursor:pointer
}
.ssss-c-move {
	cursor:move
}
.ssss-c-zoom-in {
	cursor:-webkit-zoom-in;
	cursor:zoom-in
}
.ssss-c-zoom-out {
	cursor:-webkit-zoom-out;
	cursor:zoom-out
}
.ssss-c-not-allowed {
	cursor:not-allowed
}
.ssss-c-auto {
	cursor:auto
}
.d-block {
	display:block
}
.d-inline {
	display:inline
}
.d-inline-block {
	display:inline-block
}
.d-flex {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	display:-ms-flexbox
}
.d-inline-flex {
	display:-webkit-inline-box;
	display:-webkit-inline-flex;
	display:inline-flex;
	display:-ms-inline-flexbox
}
.d-none {
	display:none!important
}
.text-hide {
	font-size:0;
	line-height:0;
	color:transparent;
	text-shadow:none;
	background:0 0;
	border:0
}
.ssss-text-assistive {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
.ssss-m-0 {
	margin:0!important
}
.ssss-m-1 {
	margin:4px!important
}
.ssss-m-2 {
	margin:8px!important
}
.ssss-m-3 {
	margin:12px!important
}
.ssss-m-4 {
	margin:16px!important
}
.ssss-m-5 {
	margin:20px!important
}
.ssss-m-6 {
	margin:24px!important
}
.ssss-m-7 {
	margin:28px!important
}
.ssss-m-8 {
	margin:32px!important
}
.ssss-m-auto {
	margin:auto!important
}
.ssss-mt-0,.ssss-my-0 {
	margin-top:0!important
}
.ssss-mt-1,.ssss-my-0 {
	margin-top:4px!important
}
.ssss-mt-2,.ssss-my-2 {
	margin-top:8px!important
}
.ssss-mt-3,.ssss-my-3 {
	margin-top:12px!important
}
.ssss-mt-4,.ssss-my-4 {
	margin-top:16px!important
}
.ssss-mt-5,.ssss-my-5 {
	margin-top:20px!important
}
.ssss-mt-6,.ssss-my-6 {
	margin-top:24px!important
}
.ssss-mt-7,.ssss-my-7 {
	margin-top:28px!important
}
.ssss-mt-8,.ssss-my-8 {
	margin-top:32px!important
}
.ssss-mt-auto,.ssss-my-auto {
	margin-top:auto!important
}
.ssss-mr-0,.ssss-mx-0 {
	margin-right:0!important
}
.ssss-mr-1,.ssss-mx-1 {
	margin-right:4px!important
}
.ssss-mr-2,.ssss-mx-2 {
	margin-right:8px!important
}
.ssss-mr-3,.ssss-mx-3 {
	margin-right:12px!important
}
.ssss-mr-4,.ssss-mx-4 {
	margin-right:16px!important
}
.ssss-mr-5,.ssss-mx-5 {
	margin-right:20px!important
}
.ssss-mr-6,.ssss-mx-6 {
	margin-right:24px!important
}
.ssss-mr-7,.ssss-mx-7 {
	margin-right:28px!important
}
.ssss-mr-8,.ssss-mx-8 {
	margin-right:32px!important
}
.ssss-mr-auto,.ssss-mx-auto {
	margin-right:auto!important
}
.ssss-mb-0,.ssss-my-0 {
	margin-bottom:0!important
}
.ssss-mb-1,.ssss-my-1 {
	margin-bottom:4px!important
}
.ssss-mb-2,.ssss-my-2 {
	margin-bottom:8px!important
}
.ssss-mb-3,.ssss-my-3 {
	margin-bottom:12px!important
}
.ssss-mb-4,.ssss-my-4 {
	margin-bottom:16px!important
}
.ssss-mb-5,.ssss-my-5 {
	margin-bottom:20px!important
}
.ssss-mb-6,.ssss-my-6 {
	margin-bottom:24px!important
}
.ssss-mb-7,.ssss-my-7 {
	margin-bottom:28px!important
}
.ssss-mb-8,.ssss-my-8 {
	margin-bottom:32px!important
}
.ssss-mb-auto,.ssss-my-auto {
	margin-bottom:auto!important
}
.ssss-ml-0,.ssss-mx-0 {
	margin-left:0!important
}
.ssss-ml-1,.ssss-mx-1 {
	margin-left:4px!important
}
.ssss-ml-2,.ssss-mx-2 {
	margin-left:8px!important
}
.ssss-ml-3,.ssss-mx-3 {
	margin-left:12px!important
}
.ssss-ml-4,.ssss-mx-4 {
	margin-left:16px!important
}
.ssss-ml-5,.ssss-mx-5 {
	margin-left:20px!important
}
.ssss-ml-6,.ssss-mx-6 {
	margin-left:24px!important
}
.ssss-ml-7,.ssss-mx-7 {
	margin-left:28px!important
}
.ssss-ml-8,.ssss-mx-8 {
	margin-left:32px!important
}
.ssss-ml-auto,.ssss-mx-auto {
	margin-left:auto!important
}
.ssss-fluid {
	display:block;
	max-width:100%;
	height:auto
}
.ssss-p-0 {
	padding:0!important
}
.ssss-p-1 {
	padding:4px!important
}
.ssss-p-2 {
	padding:8px!important
}
.ssss-p-3 {
	padding:12px!important
}
.ssss-p-4 {
	padding:16px!important
}
.ssss-p-5 {
	padding:20px!important
}
.ssss-p-6 {
	padding:24px!important
}
.ssss-p-7 {
	padding:28px!important
}
.ssss-p-8 {
	padding:32px!important
}
.ssss-p-auto {
	padding:auto!important
}
.ssss-pt-0,.ssss-py-0 {
	padding-top:0!important
}
.ssss-pt-1,.ssss-py-1 {
	padding-top:4px!important
}
.ssss-pt-2,.ssss-py-2 {
	padding-top:8px!important
}
.ssss-pt-3,.ssss-py-3 {
	padding-top:12px!important
}
.ssss-pt-4,.ssss-py-4 {
	padding-top:16px!important
}
.ssss-pt-5,.ssss-py-5 {
	padding-top:20px!important
}
.ssss-pt-6,.ssss-py-6 {
	padding-top:24px!important
}
.ssss-pt-7,.ssss-py-7 {
	padding-top:28px!important
}
.ssss-pt-8,.ssss-py-8 {
	padding-top:32px!important
}
.ssss-pt-auto,.ssss-py-auto {
	padding-top:auto!important
}
.ssss-pr-0,.ssss-px-0 {
	padding-right:0!important
}
.ssss-pr-1,.ssss-px-1 {
	padding-right:4px!important
}
.ssss-pr-2,.ssss-px-2 {
	padding-right:8px!important
}
.ak-px-3,.ssss-pr-3 {
	padding-right:12px!important
}
.ssss-pr-4,.ssss-px-4 {
	padding-right:16px!important
}
.ssss-pr-5,.ssss-px-5 {
	padding-right:20px!important
}
.ssss-pr-6,.ssss-px-6 {
	padding-right:24px!important
}
.ssss-pr-7,.ssss-px-7 {
	padding-right:28px!important
}
.ssss-pr-8,.ssss-px-8 {
	padding-right:32px!important
}
.ssss-pr-auto,.ssss-px-auto {
	padding-right:auto!important
}
.ssss-pb-0,.ssss-py-0 {
	padding-bottom:0!important
}
.ssss-pb-1,.ssss-py-1 {
	padding-bottom:4px!important
}
.ssss-pb-2,.ssss-py-2 {
	padding-bottom:8px!important
}
.ssss-pb-3,.ssss-py-3 {
	padding-bottom:12px!important
}
.ssss-pb-4,.ssss-py-4 {
	padding-bottom:16px!important
}
.ssss-pb-5,.ssss-py-5 {
	padding-bottom:20px!important
}
.ssss-pb-6,.ssss-py-6 {
	padding-bottom:24px!important
}
.ssss-pb-7,.ssss-py-7 {
	padding-bottom:28px!important
}
.ssss-pb-8,.ssss-py-8 {
	padding-bottom:32px!important
}
.ssss-pb-auto,.ssss-py-auto {
	padding-bottom:auto!important
}
.ssss-pl-0,.ssss-px-0 {
	padding-left:0!important
}
.ssss-pl-1,.ssss-px-1 {
	padding-left:4px!important
}
.ssss-pl-2,.ssss-px-2 {
	padding-left:8px!important
}
.ssss-pl-3,.ssss-px-3 {
	padding-left:12px!important
}
.ssss-pl-4,.ssss-px-4 {
	padding-left:16px!important
}
.ssss-pl-5,.ssss-px-5 {
	padding-left:20px!important
}
.ssss-pl-6,.ssss-px-6 {
	padding-left:24px!important
}
.ssss-pl-7,.ssss-px-7 {
	padding-left:28px!important
}
.ssss-pl-8,.ssss-px-8 {
	padding-left:32px!important
}
.ssss-pl-auto,.ssss-px-auto {
	padding-left:auto!important
}
.ssss-fl {
	float:left!important
}
.ssss-fr {
	float:right!important
}
.ssss-clearfix::after {
	clear:both
}
.ssss-clearfix::after,.ssss-clearfix::before {
	display:table;
	content:" "
}
.ssss-relative {
	position:relative!important
}
.ssss-absolute {
	position:absolute!important
}
.ssss-fixed {
	position:fixed!important
}
.ssss-center {
	display:block!important;
	margin-right:auto!important;
	margin-left:auto!important
}
.ssss-valign {
	display:-webkit-box!important;
	display:-webkit-flex!important;
	display:-ms-flexbox!important;
	display:flex!important;
	-webkit-box-align:center!important;
	-webkit-align-items:center!important;
	-ms-flex-align:center!important;
	align-items:center!important
}
.ssss-shadow-0 {
	-webkit-box-shadow:none;
	box-shadow:none
}
.ssss-shadow-1 {
	-webkit-box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
	box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)
}
.ssss-shadow-2 {
	-webkit-box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);
	box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)
}
.ssss-shadow-3 {
	-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
	box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}
.ssss-shadow-4 {
	-webkit-box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}
.ssss-shadow-5 {
	-webkit-box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
	box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)
}
.ssss-shadow-6 {
	-webkit-box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
	box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12)
}
.ssss-shadow-7 {
	-webkit-box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12);
	box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12)
}
.ssss-shadow-8 {
	-webkit-box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
	box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)
}
.ssss-rounded {
	border-radius:4px!important
}
.ssss-rounded-t {
	border-top-left-radius:4px!important;
	border-top-right-radius:4px!important
}
.ssss-rounded-rt {
	border-top-right-radius:4px!important;
	border-bottom-right-radius:4px!important
}
.ssss-rounded-b {
	border-bottom-right-radius:4px!important;
	border-bottom-left-radius:4px!important
}
.ssss-rounded-l {
	border-top-left-radius:4px!important;
	border-bottom-left-radius:4px!important
}
.ssss-rounded-0 {
	border-radius:0!important
}
.ssss-circle {
	border-radius:50%!important
}
.ssss-w-25 {
	width:25%!important
}
.ssss-w-50 {
	width:50%!important
}
.ssss-w-75 {
	width:75%!important
}
.ssss-w-100 {
	width:100%!important
}
.ssss-w-auto {
	width:auto!important
}
.ssss-mw-50 {
	max-width:50%!important
}
.ssss-mw-100 {
	max-width:100%!important
}
.ssss-h-25 {
	height:25%!important
}
.ssss-h-50 {
	height:50%!important
}
.ssss-h-75 {
	height:75%!important
}
.ssss-h-100 {
	height:100%!important
}
.ssss-h-auto {
	height:auto!important
}
.ssss-mh-50 {
	max-height:50%!important
}
.ssss-mh-100 {
	max-height:100%!important
}
.ssss-text-left {
	text-align:left!important
}
.ssss-text-right {
	text-align:right!important
}
.ssss-text-center {
	text-align:center!important
}
.ssss-text-lowercase {
	text-transform:lowercase!important
}
.ssss-text-uppercase {
	text-transform:uppercase!important
}
.ssss-text-capitalize {
	text-transform:capitalize!important
}
.ssss-text-truncate {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.ssss-text-normal {
	font-weight:400
}
.ssss-text-bold {
	font-weight:700
}
.ssss-text-italic {
	font-style:italic
}
.ssss-text-large {
	font-size:1.2em
}
.ssss-text-small,small {
	font-size:.85em;
	opacity:.85
}
a.ssss-link {
	text-decoration:none;
	cursor:pointer
}
a.ssss-link:hover {
	text-decoration:underline
}
.ssss-font-12 {
	font-size:12px
}
.ssss-font-13 {
	font-size:13px
}
.ssss-font-14 {
	font-size:14px
}
.ssss-font-15 {
	font-size:15px
}
.ssss-font-16 {
	font-size:16px
}
.ssss-font-17 {
	font-size:17px
}
.ssss-font-18 {
	font-size:18px
}
.ssss-font-19 {
	font-size:19px
}
.ssss-font-20 {
	font-size:20px
}
.ssss-font-21 {
	font-size:21px
}
.ssss-font-22 {
	font-size:22px
}
.ssss-font-23 {
	font-size:23px
}
.ssss-font-24 {
	font-size:24px
}
.ssss-font-25 {
	font-size:25px
}
.ssss-font-26 {
	font-size:26px
}
.ssss-font-27 {
	font-size:27px
}
.ssss-font-28 {
	font-size:28px
}
.ssss-font-29 {
	font-size:29px
}
.ssss-font-30 {
	font-size:30px
}
.ssss-hidden,.ssss-hide,[hidden] {
	display:none!important
}
.ssss-invisible {
	visibility:hidden
}
.ssss-visible {
	visibility:visible
}
@media (max-width:480px) {
	.ssss-hide-xs {
	display:none!important
}
.ssss-show-xs {
	display:block!important
}
}@media (max-width:600px) {
	.ssss-hide-sm {
	display:none!important
}
.ssss-show-sm {
	display:block!important
}
}@media (max-width:840px) {
	.ssss-hide-md {
	display:none!important
}
.ssss-show-md {
	display:block!important
}
}@media (max-width:960px) {
	.ssss-hide-lg {
	display:none!important
}
.ssss-show-lg {
	display:block!important
}
}@media (max-width:1280px) {
	.ssss-hide-xl {
	display:none!important
}
.ssss-show-xl {
	display:block!important
}
}
